FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=
FITBIT_ACCESS_TOKEN=
FITBIT_REFRESH_TOKEN=
FITBIT_EXPIRES_AT=
FITBIT_TOKEN_DIR=./data/fitbit
DEVICE_STATE_TOKEN=
DEVICE_STATE_STALE_SECONDS=45
PHONE_STATE_TOKEN=
PHONE_STATE_STALE_SECONDS=90
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://api.nickesselman.nl/spotify/callback
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_ACCESS_TOKEN=
SPOTIFY_TOKEN_FILE=./data/spotify/tokens.json
